parameters:
  ServiceConnection: ''
  AppServiceName: ''
  DeploymentPackagePath: ''
  EnableWarmUpCheck: false  # New parameter to control warm-up logic

steps:
- task: AzureRmWebAppDeployment@4
  displayName: Deploy Staging Slot - ${{ parameters.AppServiceName }}
  inputs:
    azureSubscription: ${{ parameters.ServiceConnection }}
    appType: webApp
    WebAppName: ${{ parameters.AppServiceName }}
    DeployToSlotOrASEFlag: true
    ResourceGroupName: $(ResourceGroupName)
    SlotName: staging
    Package: ${{ parameters.DeploymentPackagePath }}
    RemoveAdditionalFilesFlag: true
    DeploymentType: zipDeploy
    UseWebDeploy: true

- task: AzureAppServiceManage@0
  displayName: Start Staging Slot - ${{ parameters.AppServiceName }}
  inputs:
    azureSubscription: ${{ parameters.ServiceConnection }}
    Action: Start Azure App Service
    WebAppName: ${{ parameters.AppServiceName }}
    ResourceGroupName: $(ResourceGroupName)
    SpecifySlotOrASE: true
    Slot: staging

- task: AzureAppServiceManage@0
  displayName: Start Swap Slots - ${{ parameters.AppServiceName }}
  inputs:
    azureSubscription: ${{ parameters.ServiceConnection }}
    Action: Start Swap With Preview
    WebAppName: ${{ parameters.AppServiceName }}
    ResourceGroupName: $(ResourceGroupName)
    SourceSlot: staging

- task: Bash@3
  displayName: 'Wait for Staging Slot to Warm Up'
  condition: and(succeeded(), eq('${{ parameters.EnableWarmUpCheck }}', 'true'))
  inputs:
    targetType: 'inline'
    script: |
      echo "Checking staging slot health..."
      for i in {1..10}; do
        STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://${{ parameters.AppServiceName }}-staging.azurewebsites.net/health)
        if [ "$STATUS" -eq 200 ]; then
          echo "Staging slot is healthy."
          exit 0
        fi
        echo "Waiting for staging slot to warm up... Attempt $i"
        sleep 10
      done
      echo "Staging slot did not warm up in time."
      exit 1

- task: AzureAppServiceManage@0
  displayName: Complete Swap Slot
  inputs:
    azureSubscription: ${{ parameters.ServiceConnection }}
    Action: Complete Swap
    WebAppName: ${{ parameters.AppServiceName }}
    ResourceGroupName: $(ResourceGroupName)
    SourceSlot: staging

- task: AzureAppServiceManage@0
  displayName: Cancel Slot Swap so Slots are never left in a pending Swap state
  condition: always()
  inputs:
    azureSubscription: ${{ parameters.ServiceConnection }}
    Action: Cancel Swap
    WebAppName: ${{ parameters.AppServiceName }}
    ResourceGroupName: $(ResourceGroupName)
    Slot: production

- task: AzureAppServiceManage@0
  displayName: Stop Staging Slot - ${{ parameters.AppServiceName }}
  condition: always()
  inputs:
    azureSubscription:  ${{ parameters.ServiceConnection }}
    Action: Stop Azure App Service
    WebAppName: ${{ parameters.AppServiceName }}
    SpecifySlotOrASE: true
    ResourceGroupName: $(ResourceGroupName)
    Slot: staging
